Repository actualbudget/actual, changes with the owners that CODEOWNERS names for each.
All owners: @MatissJanis, @joel-jeremy, @MikesGlitch, @youngcw, @matt-fidd

Release notes
  upcoming-release-notes/5579.md
Owners: none

Remove commented code
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Coderabbit feedback
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

only show schedule name in notes for upcoming transactions
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
Owners: none

note
  upcoming-release-notes/5580.md
Owners: none

only show schedule name in notes for upcoming transactions (#5580)
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  upcoming-release-notes/5580.md
Owners: none

Connect automations UI to backend (#5533)
  packages/desktop-client/src/components/Modals.tsx
  packages/desktop-client/src/components/NotesButton.tsx
  packages/desktop-client/src/components/budget/SidebarCategory.tsx
  packages/desktop-client/src/components/budget/SidebarCategoryButtons.tsx
  packages/desktop-client/src/components/budget/goals/BudgetAutomationEditor.tsx
  packages/desktop-client/src/components/budget/goals/CategoryAutomationButton.tsx
  packages/desktop-client/src/components/budget/goals/editor/SimpleAutomation.tsx
  packages/desktop-client/src/components/budget/goals/editor/SimpleAutomationReadOnly.tsx
  packages/desktop-client/src/components/budget/goals/editor/WeekAutomation.tsx
  packages/desktop-client/src/components/budget/goals/editor/WeekAutomationReadOnly.tsx
  packages/desktop-client/src/components/budget/goals/reducer.ts
  packages/desktop-client/src/components/forms.tsx
  packages/desktop-client/src/components/modals/BudgetAutomationsModal.tsx
  packages/desktop-client/src/hooks/useBudgetAutomations.ts
  packages/desktop-client/src/modals/modalsSlice.ts
  upcoming-release-notes/5533.md
Owners: none

Prevent unnecessary calls to DB if same redux action is already pending (#5579)
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/FinancesApp.tsx
  packages/desktop-client/src/components/ManageRules.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/budget/index.tsx
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/components/payees/ManagePayeesWithData.tsx
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/useAccounts.ts
  packages/desktop-client/src/hooks/useCategories.ts
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/hooks/useTagCSS.ts
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/notes/DesktopTaggedNotes.tsx
  packages/desktop-client/src/notes/MobileTaggedNotes.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/style/tags.ts
  packages/desktop-client/src/sync-events.ts
  upcoming-release-notes/5579.md
Owners: @joel-jeremy

added schedule api +=
  packages/api/methods.test.ts
  packages/api/methods.ts
  packages/loot-core/src/server/api-models.ts
  packages/loot-core/src/server/api.ts
  packages/loot-core/src/types/api-handlers.ts
Owners: @MatissJanis

Introduction of APIs to handle Schedule + a bit more. Refer to updated API documentation PR2811 on documentation.
  packages/api/methods.test.ts
  packages/api/methods.ts
  packages/loot-core/src/server/api-models.ts
  packages/loot-core/src/server/api.ts
  packages/loot-core/src/types/api-handlers.ts
  upcoming-release-notes/5584.md
Owners: @MatissJanis

Fixed lint Error
  packages/loot-core/src/server/api.ts
Owners: none

Removed unused declarations
  packages/loot-core/src/types/api-handlers.ts
Owners: none

Fixed Bug in Test module
  packages/api/methods.test.ts
Owners: @MatissJanis

Enhance CI workflows to support repository dispatch events and improve branch handling
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/update-vrt.yml
Owners: none

Update default rule stage to null in MobileRuleEditPage component
  packages/desktop-client/src/components/mobile/rules/MobileRuleEditPage.tsx
Owners: @joel-jeremy

Add release notes file
  upcoming-release-notes/5587.md
Owners: none

[Mobile] Do not show transfer transactions on uncategorized transactions view/page
  packages/desktop-client/src/components/mobile/budget/UncategorizedTransactions.tsx
  packages/desktop-client/src/queries/index.ts
  packages/desktop-client/src/spreadsheet/bindings.ts
Owners: @joel-jeremy

Rename
  packages/desktop-client/src/components/mobile/budget/UncategorizedTransactions.tsx
  packages/desktop-client/src/queries/index.ts
  packages/desktop-client/src/spreadsheet/bindings.ts
Owners: @joel-jeremy

Change release notes to bugfix
  upcoming-release-notes/5589.md
Owners: none

Dispatch github ci jobs after running update-vrt workflow (#5586)
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/update-vrt.yml
  upcoming-release-notes/5586.md
Owners: none

Revert "Dispatch github ci jobs after running update-vrt workflow (#5586)"
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/update-vrt.yml
  upcoming-release-notes/5586.md
Owners: none

Revert "Dispatch github ci jobs after running update-vrt workflow (#5586)" (#5590)
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/update-vrt.yml
  upcoming-release-notes/5586.md
Owners: none

[Mobile] Do not show transfer transactions on uncategorized transactions view/page (#5589)
  packages/desktop-client/src/components/mobile/budget/UncategorizedTransactions.tsx
  packages/desktop-client/src/queries/index.ts
  packages/desktop-client/src/spreadsheet/bindings.ts
  upcoming-release-notes/5589.md
Owners: @joel-jeremy

command bar vrts
  packages/desktop-client/e2e/command-bar.test.ts
Owners: none

release notes
  upcoming-release-notes/5591.md
Owners: none

Add rejected reducers
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Add dirty states
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

[Redux] Move account states from queriesSlice to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/FinancesApp.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountPage.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountTransactions.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountsPage.tsx
  packages/desktop-client/src/components/modals/CloseAccountModal.tsx
  packages/desktop-client/src/components/modals/CreateLocalAccountModal.tsx
  packages/desktop-client/src/components/sidebar/Account.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/useAccounts.ts
  packages/desktop-client/src/hooks/useUpdatedAccounts.ts
  packages/desktop-client/src/modals/modalsSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/sync-events.ts
Owners: @joel-jeremy

Release notes
  upcoming-release-notes/5581.md
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

reduce flakiness
  packages/desktop-client/e2e/command-bar.test.ts
Owners: none

oh
  packages/desktop-client/e2e/command-bar.test.ts
Owners: none

add screenshots back in
  packages/desktop-client/e2e/command-bar.test.ts
Owners: none

reducing screenshots
  packages/desktop-client/e2e/command-bar.test.ts
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-1-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-2-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-3-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-4-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-5-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-6-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-1-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-2-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-3-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-4-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-5-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-6-chromium-linux.png
Owners: none

CODEOWNERS:

# CODEOWNERS file for Actual Budget
# Please add your name to code-paths that you feel especially 
# passionate about. You will be notified for any PRs there.

/packages/api/                                    @MatissJanis
/packages/component-library/                      @MatissJanis
/packages/desktop-client/src/components/mobile    @joel-jeremy 
/packages/desktop-electron/                       @MikesGlitch
/packages/loot-core/src/server/budget             @youngcw
/packages/sync-server/                            @matt-fidd
