Repository actualbudget/actual, changes with the owners that CODEOWNERS names for each.
All owners: @MatissJanis, @joel-jeremy, @MikesGlitch, @youngcw, @matt-fidd

jeez
  packages/desktop-client/e2e/rules.test.ts-snapshots/Rules-checks-the-page-visuals-1-chromium-linux.png
  packages/desktop-client/e2e/rules.test.ts-snapshots/Rules-checks-the-page-visuals-2-chromium-linux.png
  packages/desktop-client/e2e/rules.test.ts-snapshots/Rules-checks-the-page-visuals-3-chromium-linux.png
Owners: none

fix bug
  packages/loot-core/src/server/budget/category-template-context.ts
  upcoming-release-notes/5594.md
Owners: @youngcw

Command bar VRTs (#5591)
  packages/desktop-client/e2e/command-bar.test.ts
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-1-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-2-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-search-works-correctly-3-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-1-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-2-chromium-linux.png
  packages/desktop-client/e2e/command-bar.test.ts-snapshots/Command-bar-Check-the-command-bar-visuals-3-chromium-linux.png
  upcoming-release-notes/5591.md
Owners: none

Fix error handling and use openapi instead of separate typing
  packages/sync-server/package.json
  packages/sync-server/src/app-enablebanking/banks/abnamro.bank.ts
  packages/sync-server/src/app-enablebanking/banks/fallback.bank.ts
  packages/sync-server/src/app-enablebanking/banks/rabobank.bank.ts
  packages/sync-server/src/app-enablebanking/models/bank-processor.ts
  packages/sync-server/src/app-enablebanking/models/bank-sync.ts
  packages/sync-server/src/app-enablebanking/models/enablebanking-openapi.ts
  packages/sync-server/src/app-enablebanking/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/models/gocardless.ts
  packages/sync-server/src/app-enablebanking/models/models-enablebanking.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
  packages/sync-server/src/app-enablebanking/utils/errors.ts
  yarn.lock
Owners: @matt-fidd

Avoiding type Coercion fixes and direct assignment on conditions array.
  packages/loot-core/src/server/api.ts
Owners: none

Auto-focus on navigate in all browsers
  packages/desktop-client/e2e/page-models/mobile-transaction-entry-page.ts
  packages/desktop-client/e2e/transactions.mobile.test.ts
  packages/desktop-client/src/components/NavigableFocusProvider.tsx
  packages/desktop-client/src/components/mobile/MobileNavTabs.tsx
  packages/desktop-client/src/components/mobile/transactions/AddTransactionButton.tsx
  packages/desktop-client/src/components/mobile/transactions/FocusableAmountInput.tsx
  packages/desktop-client/src/components/mobile/transactions/TransactionEdit.jsx
  packages/desktop-client/src/index.tsx
  upcoming-release-notes/5595.md
Owners: @joel-jeremy

Lint Error Fixes
  packages/loot-core/src/server/api.ts
Owners: none

more issues fixed
  packages/loot-core/src/server/api.ts
Owners: none

lint errors
  packages/loot-core/src/server/api.ts
Owners: none

fix bug (#5594)
  packages/loot-core/src/server/budget/category-template-context.ts
  upcoming-release-notes/5594.md
Owners: @youngcw

Remove with Mutation in Get function. Fixed quotes. updated getIDyName for error handling
  packages/loot-core/src/server/api.ts
Owners: none

More lint errors
  packages/loot-core/src/server/api.ts
Owners: none

[Redux] Move account states from queriesSlice to accountsSlice (#5581)
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/FinancesApp.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountPage.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountTransactions.tsx
  packages/desktop-client/src/components/mobile/accounts/AccountsPage.tsx
  packages/desktop-client/src/components/modals/CloseAccountModal.tsx
  packages/desktop-client/src/components/modals/CreateLocalAccountModal.tsx
  packages/desktop-client/src/components/sidebar/Account.tsx
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/useAccounts.ts
  packages/desktop-client/src/hooks/useUpdatedAccounts.ts
  packages/desktop-client/src/modals/modalsSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/sync-events.ts
  upcoming-release-notes/5581.md
Owners: @joel-jeremy

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
Owners: none

Fix merge error
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
Owners: none

Fix merge error
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/payees/payeesSlice.ts
Owners: none

[Redux] Move payee states from queriesSlice to payeesSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/ManageRules.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/autocomplete/PayeeAutocomplete.tsx
  packages/desktop-client/src/components/payees/ManagePayeesWithData.tsx
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  packages/desktop-client/src/components/rules/ScheduleValue.tsx
  packages/desktop-client/src/components/schedules/ScheduleDetails.tsx
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/payees/payeesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/sync-events.ts
  upcoming-release-notes/5592.md
Owners: none

Fix import
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
Owners: none

Minor final fixes.
  packages/loot-core/src/server/api.ts
Owners: none

[Redux] Move payee states from queriesSlice to payeesSlice (#5592)
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/ManageRules.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/autocomplete/PayeeAutocomplete.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/components/payees/ManagePayeesWithData.tsx
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  packages/desktop-client/src/components/rules/ScheduleValue.tsx
  packages/desktop-client/src/components/schedules/ScheduleDetails.tsx
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/payees/payeesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/sync-events.ts
  upcoming-release-notes/5592.md
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
Owners: none

Fix merge error
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
Owners: none

Fix lint
  packages/desktop-client/src/budget/budgetSlice.ts
  packages/desktop-client/src/components/budget/index.tsx
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/sync-events.ts
Owners: @joel-jeremy

Move getCategoriesById to budgetSlice + fix lint
  packages/desktop-client/src/budget/budgetSlice.ts
  packages/desktop-client/src/components/App.tsx
  packages/desktop-client/src/components/modals/LoadBackupModal.tsx
  packages/desktop-client/src/components/transactions/TransactionsTable.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/sync-events.ts
Owners: none

Fix typecheck
  packages/desktop-client/src/budget/budgetSlice.ts
Owners: none

One type coercion removed
  packages/loot-core/src/server/api.ts
Owners: none

fix: fix tag filter case sensitivity
  packages/desktop-client/src/components/autocomplete/TagAutocomplete.tsx
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  packages/loot-core/src/server/rules/index.ts
  packages/loot-core/src/server/transactions/transaction-rules.ts
Owners: none

Add new slices to boundActions
  packages/desktop-client/src/index.tsx
Owners: none

One type coercion removed
  packages/loot-core/src/server/api.ts
Owners: none

Revert back to original working code
  packages/loot-core/src/server/api.ts
Owners: none

Mobile rules - update default stage to be "default" instead of "pre" (#5587)
  packages/desktop-client/e2e/rules.mobile.test.ts-snapshots/Mobile-Rules-clicking-add-button-opens-rule-creation-form-2-chromium-linux.png
  packages/desktop-client/e2e/rules.mobile.test.ts-snapshots/Mobile-Rules-clicking-add-button-opens-rule-creation-form-3-chromium-linux.png
  packages/desktop-client/src/components/mobile/rules/MobileRuleEditPage.tsx
  upcoming-release-notes/5587.md
Owners: @joel-jeremy

Refactor schedule handling in ManageRules component
  packages/desktop-client/src/components/ManageRules.tsx
  packages/loot-core/src/shared/schedules.ts
  upcoming-release-notes/5600.md
Owners: none

Refactor schedule handling in ManageRules component (#5600)
  packages/desktop-client/src/components/ManageRules.tsx
  packages/loot-core/src/shared/schedules.ts
  upcoming-release-notes/5600.md
Owners: none

Enhance responsiveness of GenericInput in RuleEditor component for mobile devices
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  upcoming-release-notes/5601.md
Owners: none

Refactor ActionEditor layout in RuleEditor component for improved responsiveness
  packages/desktop-client/src/components/rules/RuleEditor.tsx
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
Owners: none

Enhance responsiveness of GenericInput in RuleEditor component for mobile devices (#5601)
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  upcoming-release-notes/5601.md
Owners: none

CODEOWNERS:

# CODEOWNERS file for Actual Budget
# Please add your name to code-paths that you feel especially 
# passionate about. You will be notified for any PRs there.

/packages/api/                                    @MatissJanis
/packages/component-library/                      @MatissJanis
/packages/desktop-client/src/components/mobile    @joel-jeremy 
/packages/desktop-electron/                       @MikesGlitch
/packages/loot-core/src/server/budget             @youngcw
/packages/sync-server/                            @matt-fidd
