Repository actualbudget/actual, changes with the owners that CODEOWNERS names for each.
All owners: @MatissJanis, @joel-jeremy, @MikesGlitch, @youngcw, @matt-fidd

updated test
  packages/desktop-client/e2e/schedules.test.ts
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-10-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-11-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-12-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-2-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-3-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-4-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-5-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-6-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-7-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-8-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-9-chromium-linux.png
  upcoming-release-notes/5414.md
Owners: none

Updated screenshots
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-Payee-Schedule-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-11-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-10-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-11-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-12-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-13-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-14-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-15-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-16-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-17-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-18-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-19-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-20-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-21-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-3-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-4-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-5-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-6-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-7-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-8-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-9-chromium-linux.png
Owners: none

fix rerender loop in calendar card (#5573)
  packages/desktop-client/src/components/reports/reports/CalendarCard.tsx
  upcoming-release-notes/5573.md
Owners: none

further test fixing
  packages/desktop-client/e2e/schedules.test.ts
Owners: none

changing test order
  packages/desktop-client/e2e/schedules.test.ts
Owners: none

Almost there
  packages/desktop-client/e2e/schedules.test.ts
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-full-list-of-schedules-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-full-list-of-schedules-2-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-full-list-of-schedules-3-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-13-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-14-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-15-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
Owners: none

new images
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
Owners: none

tests may be flaky
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
Owners: none

cleanup and reauthorize when session closed
  packages/desktop-client/src/banksync/enablebanking.ts
  packages/desktop-client/src/banksync/gocardless.ts
  packages/desktop-client/src/components/EnableBankingCallback.tsx
  packages/desktop-client/src/components/accounts/AccountSyncCheck.tsx
  packages/desktop-client/src/components/modals/CreateAccountModal.tsx
  packages/desktop-client/src/components/modals/EnableBankingSetupAccountModal.tsx
  packages/loot-core/src/server/accounts/app.ts
  packages/loot-core/src/server/accounts/enablebanking.ts
  packages/loot-core/src/server/accounts/sync.ts
  packages/loot-core/src/types/models/account.ts
  packages/loot-core/src/types/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/app-enablebanking.ts
  packages/sync-server/src/app-enablebanking/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/models/models-enablebanking.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
  packages/sync-server/src/app-enablebanking/utils/errors.ts
Owners: @matt-fidd

just one image
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-1-chromium-linux.png
Owners: none

Fix AutoTextSize warnings
  packages/desktop-client/src/components/mobile/budget/BudgetTable.jsx
Owners: @joel-jeremy

Release notes
  upcoming-release-notes/5576.md
Owners: none

🙏
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-a-new-schedule-posts-the-transaction-and-later-completes-it-1-chromium-linux.png
Owners: none

🙏 🙏
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
Owners: none

removing all images
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-10-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-11-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-12-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-13-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-14-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-15-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-16-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-17-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-18-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-19-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-20-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-21-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-3-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-4-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-5-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-6-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-7-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-8-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-9-chromium-linux.png
Owners: none

Revert "removing all images"
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-1-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-10-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-11-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-12-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-13-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-14-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-15-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-16-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-17-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-18-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-19-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-2-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-20-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-21-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-3-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-4-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-5-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-6-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-7-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-8-chromium-linux.png
  packages/desktop-client/e2e/schedules.test.ts-snapshots/Schedules-creates-two-new-schedules-posts-both-transactions-and-later-completes-one-9-chromium-linux.png
Owners: none

small order change
  packages/loot-core/src/server/transactions/transaction-rules.ts
Owners: none

Update packages/desktop-client/e2e/schedules.test.ts
  packages/desktop-client/e2e/schedules.test.ts
Owners: none

reverting unrelated changes
  packages/desktop-client/src/hooks/usePreviewTransactions.ts
  packages/loot-core/src/server/budget/schedule-template.ts
  packages/loot-core/src/server/schedules/app.test.ts
  packages/loot-core/src/server/schedules/app.ts
  packages/loot-core/src/server/transactions/transaction-rules.ts
  packages/loot-core/src/shared/schedules.ts
Owners: @youngcw

add per bank processing for transactions
  packages/desktop-client/src/banksync/enablebanking.ts
  packages/desktop-client/src/banksync/gocardless.ts
  packages/desktop-client/src/components/EnableBankingCallback.tsx
  packages/desktop-client/src/components/accounts/AccountSyncCheck.tsx
  packages/desktop-client/src/components/modals/CreateAccountModal.tsx
  packages/loot-core/src/server/accounts/app.ts
  packages/loot-core/src/server/accounts/enablebanking.ts
  packages/loot-core/src/server/accounts/sync.ts
  packages/loot-core/src/types/models/account.ts
  packages/loot-core/src/types/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/app-enablebanking.ts
  packages/sync-server/src/app-enablebanking/banks/abnamro.bank.ts
  packages/sync-server/src/app-enablebanking/banks/bank-registry.ts
  packages/sync-server/src/app-enablebanking/banks/fallback.bank.ts
  packages/sync-server/src/app-enablebanking/banks/rabobank.bank.ts
  packages/sync-server/src/app-enablebanking/banks/utils.ts
  packages/sync-server/src/app-enablebanking/models/bank-processor.ts
  packages/sync-server/src/app-enablebanking/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/models/models-enablebanking.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
  packages/sync-server/src/app-enablebanking/utils/errors.ts
  packages/sync-server/tsconfig.json
Owners: @matt-fidd

typecheck
  packages/loot-core/src/server/accounts/enablebanking.ts
  packages/sync-server/src/app-enablebanking/banks/abnamro.bank.ts
  packages/sync-server/src/app-enablebanking/banks/bank-registry.ts
  packages/sync-server/src/app-enablebanking/banks/fallback.bank.ts
  packages/sync-server/src/app-enablebanking/banks/utils.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
  packages/sync-server/src/app-enablebanking/utils/errors.ts
Owners: @matt-fidd

remove logs and lint fix
  packages/sync-server/src/app-enablebanking/banks/abnamro.bank.ts
  packages/sync-server/src/app-enablebanking/banks/fallback.bank.ts
  packages/sync-server/src/app-enablebanking/models/bank-processor.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
Owners: @matt-fidd

commit jumble due to autofix
  packages/sync-server/src/app-enablebanking/banks/abnamro.bank.ts
  packages/sync-server/src/app-enablebanking/banks/bank-registry.ts
  packages/sync-server/src/app-enablebanking/banks/fallback.bank.ts
  packages/sync-server/src/app-enablebanking/banks/rabobank.bank.ts
  packages/sync-server/src/app-enablebanking/models/bank-processor.ts
  packages/sync-server/src/app-enablebanking/services/enablebanking-services.ts
Owners: @matt-fidd

try fix codeQL
  packages/sync-server/src/app-enablebanking/banks/bank-registry.ts
Owners: @matt-fidd

fix small bug in key value in remittance data
  packages/sync-server/src/app-enablebanking/banks/bank-registry.ts
  packages/sync-server/src/app-enablebanking/banks/utils.ts
Owners: @matt-fidd

Fix AutoTextSize warnings (#5576)
  packages/desktop-client/src/components/mobile/budget/BudgetTable.jsx
  upcoming-release-notes/5576.md
Owners: @joel-jeremy

fix filter transactions by closed account transfer payee (#5438)
  eslint.config.mjs
  packages/desktop-client/src/components/FixedSizeList.tsx
  packages/desktop-client/src/components/autocomplete/PayeeAutocomplete.tsx
  packages/desktop-client/src/components/filters/FiltersMenu.jsx
  packages/desktop-client/src/components/filters/PayeeFilter.tsx
  upcoming-release-notes/5438.md
Owners: none

Compute color of tags text for dark mode (#5574)
  packages/desktop-client/src/style/tags.ts
  upcoming-release-notes/5574.md
Owners: none

Fix lint and typecheck
  packages/desktop-client/src/components/reports/graphs/CrossoverGraph.tsx
  packages/desktop-client/src/components/reports/reports/Crossover.tsx
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Annualize historical return via compounding, not multiplication Use effective monthly rate from annual return Guard against undefined starting balance
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Optional guard in median helper for future-proofing Use consistent rounding when checking the projected crossover Avoid O(n^2) lookups when aggregating balances by month
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Add Crossover Report
  packages/desktop-client/src/components/reports/AccountSelector.tsx
  packages/desktop-client/src/components/reports/Overview.tsx
  packages/desktop-client/src/components/reports/ReportRouter.tsx
  packages/desktop-client/src/components/reports/graphs/CrossoverGraph.tsx
  packages/desktop-client/src/components/reports/reports/Crossover.tsx
  packages/desktop-client/src/components/reports/reports/CrossoverCard.tsx
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
  packages/loot-core/src/server/dashboard/app.ts
  packages/loot-core/src/types/models/dashboard.ts
  upcoming-release-notes/5554.md
Owners: none

Use useFormat hook for formatting, make spreadsheet always return cents
  packages/desktop-client/src/components/reports/graphs/CrossoverGraph.tsx
  packages/desktop-client/src/components/reports/reports/Crossover.tsx
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Change error handling to use addNotification
  packages/desktop-client/src/components/reports/reports/Crossover.tsx
Owners: none

Change defaults to all categories and accounts. Return 0 when no categories selected
  packages/desktop-client/src/components/reports/reports/Crossover.tsx
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

lint:fix. Only get first crossoverIdx
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Detect if crossover has already happened before projecting
  packages/desktop-client/src/components/reports/spreadsheets/crossover-spreadsheet.ts
Owners: none

Prevent unnecessary calls to DB if same redux action is already pending
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/hooks/useCategories.ts
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/hooks/useTagCSS.ts
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/notes/DesktopTaggedNotes.tsx
  packages/desktop-client/src/notes/MobileTaggedNotes.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/style/tags.ts
Owners: none

Add dirty states
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/FinancesApp.tsx
  packages/desktop-client/src/components/ManageRules.tsx
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/budget/index.tsx
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/components/payees/ManagePayeesWithData.tsx
  packages/desktop-client/src/components/rules/RuleEditor.tsx
  packages/desktop-client/src/global-events.ts
  packages/desktop-client/src/hooks/useAccounts.ts
  packages/desktop-client/src/hooks/useCategories.ts
  packages/desktop-client/src/hooks/usePayees.ts
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/sync-events.ts
Owners: @joel-jeremy

Add rejected reducers
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

CODEOWNERS:

# CODEOWNERS file for Actual Budget
# Please add your name to code-paths that you feel especially 
# passionate about. You will be notified for any PRs there.

/packages/api/                                    @MatissJanis
/packages/component-library/                      @MatissJanis
/packages/desktop-client/src/components/mobile    @joel-jeremy 
/packages/desktop-electron/                       @MikesGlitch
/packages/loot-core/src/server/budget             @youngcw
/packages/sync-server/                            @matt-fidd
