Repository actualbudget/actual, changes with the owners that CODEOWNERS names for each.
All owners: @MatissJanis, @joel-jeremy, @MikesGlitch, @youngcw, @matt-fidd

CODEOWNERS:

# CODEOWNERS file for Actual Budget
# Please add your name to code-paths that you feel especially 
# passionate about. You will be notified for any PRs there.

/packages/api/                                    @MatissJanis
/packages/component-library/                      @MatissJanis
/packages/desktop-client/src/components/mobile    @joel-jeremy 
/packages/desktop-electron/                       @MikesGlitch
/packages/loot-core/src/server/budget             @youngcw
/packages/sync-server/                            @matt-fidd

[Redux] Move tags states from queriesSlice to tagsSlice
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/components/tags/TagRow.tsx
  packages/desktop-client/src/components/tags/TagsList.tsx
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/tags/tagsSlice.ts
  packages/loot-core/src/server/tags/app.ts
  packages/loot-core/src/types/models/tags.ts
Owners: none

Fix lint + release notes
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/components/tags/TagRow.tsx
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/tags/tagsSlice.ts
  upcoming-release-notes/5597.md
Owners: none

Add resizing functionality to RuleEditor component
  packages/desktop-client/src/components/rules/RuleEditor.tsx
Owners: none

Enhance RuleEditor component to support touch events for resizing
  packages/desktop-client/src/components/rules/RuleEditor.tsx
Owners: none

Update RuleEditor component to enhance touch event handling and improve mobile resizing visuals
  packages/desktop-client/src/components/rules/RuleEditor.tsx
Owners: none

Update packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/queries/queriesSlice.ts
Owners: none

Fix import
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
Owners: none

Enable Make Transfer menu for child transactions
  packages/loot-core/src/shared/transfer.ts
  upcoming-release-notes/5603.md
Owners: none

[Redux] Move tags states from queriesSlice to tagsSlice
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/components/tags/TagRow.tsx
  packages/desktop-client/src/components/tags/TagsList.tsx
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/tags/tagsSlice.ts
  packages/loot-core/src/server/tags/app.ts
  packages/loot-core/src/types/models/tags.ts
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
Owners: none

Fix lint + release notes
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/components/tags/TagRow.tsx
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/tags/tagsSlice.ts
  upcoming-release-notes/5597.md
Owners: none

[Redux] Rename queriesSlice to transactionsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/mobile/transactions/TransactionEdit.jsx
  packages/desktop-client/src/components/mobile/transactions/TransactionListItem.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/index.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/transactions/transactionsSlice.ts
Owners: @joel-jeremy

Enable Make Transfer menu for child transactions
  packages/loot-core/src/shared/transfer.ts
  upcoming-release-notes/5604.md
Owners: none

Enable Make Transfer menu for child transactions (#5604)
  packages/loot-core/src/shared/transfer.ts
  upcoming-release-notes/5604.md
Owners: none

[Redux] Move tags states from queriesSlice to tagsSlice (#5597)
  packages/desktop-client/src/components/tags/ManageTags.tsx
  packages/desktop-client/src/components/tags/TagCreationRow.tsx
  packages/desktop-client/src/components/tags/TagEditor.tsx
  packages/desktop-client/src/components/tags/TagRow.tsx
  packages/desktop-client/src/components/tags/TagsList.tsx
  packages/desktop-client/src/hooks/useTags.ts
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/tags/tagsSlice.ts
  packages/loot-core/src/server/tags/app.ts
  packages/loot-core/src/types/models/tags.ts
  upcoming-release-notes/5597.md
Owners: none

Move getAccountsById to accountsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
Owners: none

[Redux] Rename queriesSlice to transactionsSlice
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/mobile/transactions/TransactionEdit.jsx
  packages/desktop-client/src/components/mobile/transactions/TransactionListItem.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/index.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/transactions/transactionsSlice.ts
Owners: @joel-jeremy

Fix import
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
Owners: none

Coderabbit feedback
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
  packages/desktop-client/src/hooks/useOverspentCategories.ts
Owners: @joel-jeremy

Cleanup
  packages/desktop-client/src/hooks/useOverspentCategories.ts
Owners: none

Remove console.log
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
Owners: @joel-jeremy

[Mobile] Show uncategorized/overspending totals on budget banners
  packages/desktop-client/src/components/mobile/budget/BudgetPage.tsx
  packages/desktop-client/src/hooks/useOverspentCategories.ts
  upcoming-release-notes/5599.md
Owners: @joel-jeremy

Release notes
  upcoming-release-notes/5598.md
Owners: none

Rename release notes
  upcoming-release-notes/5605.md
Owners: none

Use Array.from
  packages/desktop-client/src/hooks/useOverspentCategories.ts
Owners: none

Remove nonexistent saved state
  packages/desktop-client/src/components/mobile/transactions/TransactionEdit.jsx
  packages/desktop-client/src/components/util/GenericInput.jsx
Owners: @joel-jeremy

[Redux] Rename queriesSlice to transactionsSlice (#5598)
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/desktop-client/src/components/accounts/Account.tsx
  packages/desktop-client/src/components/mobile/transactions/TransactionEdit.jsx
  packages/desktop-client/src/components/mobile/transactions/TransactionListItem.tsx
  packages/desktop-client/src/components/modals/ImportTransactionsModal/ImportTransactionsModal.jsx
  packages/desktop-client/src/components/util/GenericInput.jsx
  packages/desktop-client/src/index.tsx
  packages/desktop-client/src/queries/queriesSlice.ts
  packages/desktop-client/src/redux/mock.tsx
  packages/desktop-client/src/redux/store.ts
  packages/desktop-client/src/transactions/transactionsSlice.ts
  upcoming-release-notes/5598.md
Owners: @joel-jeremy

Added Account testing for both get by ID and updating schedules
  packages/api/methods.test.ts
Owners: @MatissJanis

Added Payee tests as well
  packages/api/methods.test.ts
Owners: @MatissJanis

Payee Tests
  packages/api/methods.test.ts
Owners: @MatissJanis

Optimized condition checking at the beginning of the code and avoid ambiguity in case of corrupt schedule
  packages/loot-core/src/server/api.ts
Owners: none

Mode debug infor on error in testing
  packages/loot-core/src/server/api.ts
Owners: none

better bug tracking
  packages/loot-core/src/server/api.ts
Owners: none

//more trouble shooting
  packages/loot-core/src/server/api.ts
Owners: none

Bug fixed
  packages/api/methods.test.ts
  packages/loot-core/src/server/api.ts
Owners: @MatissJanis

Minor mofication to satisfy code rabbit. We should be ready for review.
  packages/loot-core/src/server/api.ts
Owners: none

Removing type coercion from the model
  packages/loot-core/src/server/api-models.ts
Owners: none

fix: resolve review comment
  packages/desktop-client/src/queries/index.ts
Owners: none

fixed compilation error
  packages/loot-core/src/server/api-models.ts
Owners: none

implement typed interface on asyncserver side of async <-> lootcore connection.
  packages/desktop-client/src/accounts/accountsSlice.ts
  packages/loot-core/src/types/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/app-enablebanking.ts
  packages/sync-server/src/app-enablebanking/models/enablebanking.ts
  packages/sync-server/src/app-enablebanking/utils/errors.ts
Owners: @matt-fidd
